<h1>My Song:</h1>
<p><%= @song.name %></p><br>
<h1>My Genre:</h1>
<p><%= link_to  "#{@genre.name}", genre_path(@genre) %></p><br>
<h1>My Artist:</h1>
<p><%= link_to  "#{@artist.name}", artist_path(@artist) %></p><br>

